

<app-side-bar-admin>



  <br> <br><br>
  <div class="container">
    <h1>Admin Board</h1> <br>
  </div>
  <div class="container" style="position: inherit">


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa cumque excepturi inventore libero magni maiores modi, quae, saepe sed sunt tempore! Cum ex hic id iste libero mollitia officiis?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta doloribus explicabo ipsum laboriosam possimus quas quia quo reprehenderit veritatis. Magnam, minus, veniam? Architecto blanditiis distinctio dolorum magnam natus quas!</p>
  </div>


</app-side-bar-admin>


