<br><br>
<h2>Frequently Asked Questions</h2>
<div class="container">
  <h1>Frequently Asked Questions</h1>
  <details>
    <summary>Question One?</summary>
    <div class="detailOpen">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda dicta ea eaque error hic laboriosam molestias, natus optio quaerat quibusdam quod, sit, vitae voluptas voluptates. Cupiditate debitis esse odio!
      </p>    </div>
  </details>

  <details>
    <summary>Question Two??</summary>
    <div class="detailOpen">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda dicta ea eaque error hic laboriosam molestias, natus optio quaerat quibusdam quod, sit, vitae voluptas voluptates. Cupiditate debitis esse odio!
      </p>    </div>
  </details>

  <details>
    <summary>Question Three??</summary>
    <div class="detailOpen">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda dicta ea eaque error hic laboriosam molestias, natus optio quaerat quibusdam quod, sit, vitae voluptas voluptates. Cupiditate debitis esse odio!
      </p>    </div>
  </details>

  <details>
    <summary>Question Four??</summary>
    <div class="detailOpen">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda dicta ea eaque error hic laboriosam molestias, natus optio quaerat quibusdam quod, sit, vitae voluptas voluptates. Cupiditate debitis esse odio!
      </p>    </div>
  </details>


  <details>
    <summary>Question five??</summary>
    <div class="detailOpen">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda dicta ea eaque error hic laboriosam molestias, natus optio quaerat quibusdam quod, sit, vitae voluptas voluptates. Cupiditate debitis esse odio!
      </p>    </div>
  </details>


  <details>
    <summary>Question Six??</summary>
    <div class="detailOpen">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda dicta ea eaque error hic laboriosam molestias, natus optio quaerat quibusdam quod, sit, vitae voluptas voluptates. Cupiditate debitis esse odio!
      </p>
    </div>
  </details>


  <details>
    <summary>Question Seven??</summary>
    <div class="detailOpen">
      The tags <em>details</em> and <em>summary</em> have you covered.
    </div>
  </details>
</div>

