<h1>Final Decision Dialog</h1>


<div class="container">
  <div style="margin:10px 20px 10px 20px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda atque dolorem eius et, eum in incidunt inventore iusto labore minus nisi odit perspiciatis quaerat quis quod totam, ut velit!
      <div style="margin:40px 20px 40px 20px ; padding: 10px">
        <button class="btn btn-primary"    (click)="acceptApplication()">Accept application {{data.animal}}</button> &nbsp; &nbsp;
        <button class="btn btn-secondary" (click)="putApplicationInWaitingList()">Reject this application {{data.animal}}</button>
      </div>

    <button mat-button color="primary"> close</button>
  </div>

</div>
