
<!--<mat-toolbar color="#FFFFFF" >-->
<!--  <mat-toolbar-row>-->
<!--    <h1>Angular material sidenav</h1>-->
<!--    <button mat-button [matMenuTriggerFor]="offers">Offers</button>-->
<!--    <button mat-button [matMenuTriggerFor]="applications">Application</button>-->
<!--    <button mat-button [matMenuTriggerFor]="claim">Send a claim</button>-->
<!--    <button mat-button >Forum</button>-->

<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
<!--&lt;!&ndash;offers menu&ndash;&gt;-->
<!--<mat-menu #offers="matMenu">-->
<!--  <button mat-menu-item [matMenuTriggerFor]="department">List of offers</button>-->
<!--  <button mat-menu-item >Bookmarked</button>-->
<!--</mat-menu>-->
<!--<mat-menu #department="matMenu">-->
<!--  <button mat-menu-item >TIC</button>-->
<!--  <button mat-menu-item >EM</button>-->
<!--</mat-menu>-->
<!--&lt;!&ndash;application menu&ndash;&gt;-->
<!--<mat-menu #applications="matMenu">-->
<!--  <button mat-menu-item >State of my application</button>-->
<!--  <button mat-menu-item >Review my application info</button>-->
<!--</mat-menu>-->

<!--&lt;!&ndash;Claim menu&ndash;&gt;-->
<!--<mat-menu #claim="matMenu">-->
<!--  <button mat-menu-item [matMenuTriggerFor]="claim">Send a claim</button>-->
<!--  <button mat-menu-item >reserved</button>-->
<!--</mat-menu>-->

<!--&lt;!&ndash;Forum menu&ndash;&gt;-->
<!--<mat-menu #forum="matMenu">-->
<!--  <button mat-menu-item [matMenuTriggerFor]="forum">State of my application</button>-->
<!--  <button mat-menu-item >Review my application info</button>-->
<!--</mat-menu>-->


<!--&lt;!&ndash;see this link : https://stackblitz.com/angular/rddpmebkpjj?file=app%2Fnested-menu-example.html    &ndash;&gt;-->



<app-header></app-header>
<div class="container">
  <br>
  <h1>Testing my template </h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>  <p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <h2>Timoumi Mahmoud</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A facilis modi molestiae possimus praesentium ratione? Commodi consectetur deleniti explicabo ipsa suscipit! Alias delectus error eum nihil odit omnis repellendus. Veniam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur cupiditate error exercitationem facere harum impedit laudantium maxime molestiae mollitia nemo nobis quam, quibusdam reprehenderit tenetur vel velit veniam?
  </p>
</div>

<!--<app-footer></app-footer>-->
